[submodule "dependency/imgui"]
	path = dependency/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "dependency/glfw"]
	path = dependency/glfw
	url = https://github.com/glfw/glfw.git
[submodule "dependency/glew"]
	path = dependency/glew
	url = https://github.com/Perlmint/glew-cmake.git
